.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 250px;
  width: 100%;
  min-height: 100vh;
  background-color: rgb(29 29 32);
  color: #fff;
  padding: 5px;
}

.sidebar input {
  background-color: rgb(53, 53, 58);
  margin: 10px 0;
  padding: 10px;
  outline: none;
  border: 3px solid rgb(53, 53, 58);
  border-radius: 8px;
  color: #fff;
}

input.inputError {
  border-color: #fc8181;
}

p.errorText {
  color: #fc8181;
  font-size: 14px;
}

.backBtn {
  font-size: 13px;
  background-color: rgb(53, 53, 58);
}

.backBtn:hover {
  background-color: rgb(92, 92, 97);
}
